body {
  font-family: "poppins", sans-serif;
  background-color: #fafaf8;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  height: 80px;
  box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.185);
}

.header h1 {
  font-weight: 400;
}

main {
  margin: auto;
  max-width: 800px;
  padding: 30px 30px 10px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

form input {
  padding: 4px 13px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 6px;
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

form button {
  border: none;
  outline: none;
  background-color: #000;
  color: #fafaf8;
  padding: 8px 30px;
  border-radius: 6px;
  font-weight:600;
  cursor: pointer;
}

form button::before {
  content: "+";
  margin-right: 5px;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 130px 0;
  text-align: justify;
}

.ul ul{
  padding: 20px;
}

.get-recipe-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 20px;
}

.get-recipe-container h3 {
  margin-bottom: 10px;
}

.get-recipe-container p {
  color: #00000098;
}

.get-recipe-container button {
  background-color: chocolate;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0 10px;
  cursor: pointer;
}
